<div class="back-button">
  <p-button label="Vissza" [text]="true" [plain]="true" routerLink="/"></p-button>
</div>

<div class="product-container">
  <div class="image-gallery">
    <p-galleria [value]="product?.image_paths" [thumbnailsPosition]="'left'" [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '100%' }" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <p-image [src]="item" [imageStyle]="{ 'width': '500px', 'height': '430px', 'object-fit': 'fill' }"
          [style]="{'display':'flex'}" [preview]="true" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item" class="thumbnail-image" />
      </ng-template>
    </p-galleria>
  </div>



  <div class="product-details" *ngIf="product">
    <h1 class="product-name">{{ product.name }}</h1>
    <div class="product-info">
      <p><strong>Méret:</strong> {{ product.size }} cm</p>
      <p><strong>Anyag:</strong> {{ product.material }}</p>
      <p><strong>Szín:</strong> {{ product.color }}</p>
      <p><strong>Stílus és design:</strong> {{ product.design }}</p>
      <p><strong>Származási hely:</strong> {{ product.origin }}</p>
      <p><strong>Tisztítási utasítások:</strong> {{ product.cleaning }}</p>
      <h2 class="product-price">{{ product.price | currency:' ' : 'symbol' : '1.0-0' }} Ft </h2>
    </div>
  </div>
</div>