<p-dialog [focusOnShow]="false" [dismissableMask]="true" [style]="{ maxWidth: '50vw'}" [(visible)]="visible"
  [modal]="true" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="headless">
    <div class="image-preview">
      <img [srcset]="selectedImage" alt="">
    </div>
  </ng-template>
</p-dialog>


<div class="product-container">
  <div class="custom-gallery">
    <div class="thumbnail-container">
      @for (item of product?.image_paths; track $index) {
      <img (click)="selectImage(item)" [srcset]="item" alt="" class="thumbnail-images">
      }
    </div>
    <div class="main-image">
      <img (click)="showDialog(selectedImage)" [srcset]="selectedImage" alt="">
    </div>
  </div>

  @if (product) {
  <div class="product-details">
    <div>
      <small class="category-font">{{product.category}}</small>
      <h1>{{ product.name }}</h1>
    </div>
    <div class="product-info">
      <div class="size-container">
        @for (item of product.size; track $index) {
        <div class="size-box">
          {{item}}
        </div>
        }
      </div>
      <table>
        <tbody>
          @if (product.material && product.material != "null") {
          <tr>
            <td>Anyag:</td>
            <td>{{product.material}}</td>
          </tr>
          }
          @if (product.color && product.color != "null") {
          <tr>
            <td>Szín:</td>
            <td>{{product.color}}</td>
          </tr>
          }
          @if (product.design && product.design != "null") {
          <tr>
            <td>Stílus és design:</td>
            <td>{{product.design}}</td>
          </tr>
          }
          @if (product.origin && product.origin != "null") {
          <tr>
            <td>Származási hely:</td>
            <td>{{product.origin}}</td>
          </tr>
          }
          @if (product.cleaning && product.cleaning != "null") {
          <tr>
            <td>Tisztítási utasítások:</td>
            <td>{{product.cleaning}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    <div class="price-part">{{ product.price | currency:' ' : 'symbol' : '1.0-0' }} Ft </div>
    <small>*A fent látható ár csak tájékoztató jellegű, készletünk eltérhet az oldalon látott termékekről.</small>
  </div>
  }
</div>

<h2>Hasonló termékek</h2>
<div class="suggestions">
  @for (product of allProducts | slice:0:3; track $index) {
  <app-product-card [showButtons]="false" [productId]="product.product_id" [productName]="product.name"
    [productSize]="product.size" [productPlaceOfOrigin]="product.origin" [productImagePath]="product.image_paths?.[0]"
    [productPrice]="product.price">
  </app-product-card>
  }
</div>
