<div class="product-container">
  <div class="image-gallery">
    <p-galleria [value]="product?.image_paths" [thumbnailsPosition]="'left'" [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '100%', 'gap': '15px'}" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
        <p-image [src]="item" [imageStyle]="{ 'width': '500px', 'height': '430px', 'object-fit': 'fill' }"
          [style]="{'display':'flex'}" [preview]="true" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <img [src]="item" class="thumbnail-image" />
      </ng-template>
    </p-galleria>
  </div>


  @if (product) {
  <div class="product-details">
    <div>
      <small class="category-font">{{product.category}}</small>
      <h1>{{ product.name }}</h1>
    </div>
    <div class="product-info">
      <div class="size-container">
        @for (item of product.size; track $index) {
        <div class="size-box">
          {{item}}
        </div>
        }
      </div>
      <table>
        <tbody>
          <tr>
            <td>Anyag:</td>
            <td>{{product.material}}</td>
          </tr>
          <tr>
            <td>Szín:</td>
            <td>{{product.color}}</td>
          </tr>
          <tr>
            <td>Stílus és design:</td>
            <td>{{product.design}}</td>
          </tr>
          <tr>
            <td>Származási hely:</td>
            <td>{{product.origin}}</td>
          </tr>
          <tr>
            <td>Tisztítási utasítások:</td>
            <td>{{product.cleaning}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="price-part">{{ product.price | currency:' ' : 'symbol' : '1.0-0' }} Ft </div>
    <small>*A fent látható ár csak tájékoztató jellegű, készletünk eltérhet az oldalon látott termékekről.</small>
  </div>
  }
</div>
