:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 6rem;
}

p {
    margin: 0;
}

// ::ng-deep .p-galleria-thumbnail-container {
//     background-color: unset;
// }

// ::ng-deep .p-galleria-content {
//     gap: 16px;
// }

.image-gallery {
    display: flex;
    overflow: auto;
}

.item {
    display: flex;
}

.thumbnail-image {
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 10px;
}

.price-part {
    color: #59595d;
    transition: ease-in-out 0.3s;
    margin: 0;
    padding: 12px;
    background-color: #ffe9cf;
    width: fit-content;
    border-radius: 8px;

    font-size: 1.1rem;
}

.category-font {
    color: #b3b3b3;
}

.price-part:hover {
    transition: ease-in-out 0.3s;
    background-color: #ffd8ab;
    cursor: pointer;
}

.product-container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.size-container {
    display: flex;
    gap: 6px;
    margin-bottom: 20px;
}

.size-box {
    padding: 8px;
    border-radius: 8px;
    background-color: #ffe9cf;

    transition: ease-in-out 0.3s;
}

table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 6px;
    padding-top: 6px;
}

.size-box:hover {
    transition: ease-in-out 0.3s;
    background-color: #ffd8ab;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .product-container {
        flex-direction: column;
    }

    .product-info {
        text-align: center;
    }
}

@media (max-width: 711px) {
    .suggestions {
        flex-direction: column;
    }
}
h2 {
    margin: 0;
}
