:host {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-section {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

input[required] + label::after {
  content: "*";
  color: red;
}
.red-asterix{
  color: red;
}
