
.upload-section {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  max-width: 662px;
  max-height: 1099px;
  background-color: #0f0f0f0f;
}

input {
  width: 534px;
}

input[required] + label::after {
  content: "*";
  color: red;
}
.red-asterix{
  color: red;
}
