<div class="upload-section">

  <div class="imageAndPreviewWrapper">
    <div class="upload">
      <app-file-uploading [existingFiles]="existingFiles"></app-file-uploading>
    </div>
    <div class="preview">
      <app-product-card [showButtons]="false" [productName]="productForm.get('name')?.value ?? '<Példa cím>'"
        [productPlaceOfOrigin]="productForm.get('origin')?.value ?? '<Példa származási hely>'"
        [productSize]="productForm.get('size')?.value ?? '<Példa méret>'"
        [productPrice]="productForm.get('price')?.value ?? 0"
        [productImagePath]="this.fileUploadService.selectedFile?.objectURL ?? (this.fileUploadService.selectedFile?.name ? 'http://localhost:8085/assets/' + this.fileUploadService.selectedFile?.name : 'https://via.placeholder.com/150')"></app-product-card>
    </div>
  </div>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <h2>Szőnyeg tulajdonságok</h2>

    <p-floatLabel>
      <p-dropdown [showClear]="true" required="true" [options]="categories" [checkmark]="true" optionLabel="name"
        inputId="float-label" formControlName="category" />
      <label for="float-label">Kategória</label>
      @if (isInvalid('category')) {
      <small id="name-help" class="p-error">A fenti mező kitöltése kötelező</small>
      }
    </p-floatLabel>
    <div>
      <span class="p-float-label">
        <ng-container>
          <input formControlName="name" [ngClass]="{'ng-invalid': isInvalid('name')}" pInputText id="name"
            required="true" />
          <label for="name">Név</label>
        </ng-container>
      </span>
      @if (isInvalid('name')) {
      <small id="name-help" class="p-error">A fenti mező kitöltése kötelező</small>
      }
    </div>

    <!-- Size -->
    <div>
      <p-floatLabel>
        <p-chips id="size" formControlName="size" [style]="{'width': '100%'}"
          [ngClass]="{'ng-invalid': isInvalid('size')}" id="size" required="true" />
        <label for="size">Méretek</label>
      </p-floatLabel>
      @if (isInvalid('size')) {
      <small id="name-help" class="p-error">A fenti mező kitöltése kötelező</small>
      }
    </div>

    <!-- Material -->
    <span class="p-float-label">
      <input formControlName="material" pInputText id="material" />
      <label for="material">Anyag</label>
    </span>

    <!-- Color -->
    <span class="p-float-label">
      <input formControlName="color" pInputText id="color" />
      <label for="color">Szín és minta</label>
    </span>

    <!-- Style -->
    <span class="p-float-label">
      <input formControlName="design" pInputText id="design" />
      <label for="design">Stílus és design</label>
    </span>

    <!-- Origin -->
    <span class="p-float-label">
      <input formControlName="origin" pInputText id="origin" />
      <label for="origin">Származási hely</label>
    </span>

    <!-- Cleaning instructions -->
    <span class="p-float-label">
      <input formControlName="cleaning" pInputText id="cleaning" />
      <label for="cleaning">Tisztítási utasítások</label>
    </span>

    <!--Price -->
    <div>
      <span class="p-float-label">
        <p-inputNumber size="7" [inputStyle]="{'border-radius': '12px'}" [required]="true" id="price"
          [ngClass]="{'ng-invalid': isInvalid('price')}" formControlName="price" mode="currency" currency="HUF"
          inputId="price"> </p-inputNumber>
        <label for="price">Ár</label>
      </span>
      @if (isInvalid('price')) {
      <small id="name-help" class="p-error">A fenti mező kitöltése kötelező</small>
      }
    </div>

    <div class="submit-button-container">
      <p-button type="submit" class="submit-button" label="Feltöltés" [outlined]="true" severity="secondary"></p-button>
    </div>
    <div>A "<span class="red-asterix">*</span>" jelöli a kötelezően kitöltendő elemeket</div>

  </form>
</div>