:host{
  max-width: 1400px;
  margin-top: 42px;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  align-content: flex-start;
  app-product-card{
    flex: 1 0 auto;
    min-width: min-content;
  }
}
