.contact-container{
  margin-top: 6rem;
  display: flex;
  flex-direction: row;
  gap: 14px;
  justify-content: center;
}
.map-contactinfo-wrapper{
  display: flex;
  gap: 16px;
  flex-direction: column;
}
