<div class="category-container">
  <h2>Kategóriák</h2>
  <div class="wrapper">
    @if (this.productService.selectedCategory$ | async) {
    <div class="filter-remove-button" (click)="removeFilters()">
      <p-button size="small" icon="pi pi-times" [rounded]="true" severity="danger" [outlined]="true" />
    </div>
    }
    <div class="card-container">
      @for (item of categories; track $index) {
      <app-categories-card [description]="item.description" [imgPath]="item.imgPath"
        (click)="filterByCategory(item.description)"></app-categories-card>
      }
    </div>

  </div>
  <app-product-list></app-product-list>
</div>
