<div class="search-wrapper">
  <div class="input-and-title">
    <div class="title-container">
      <h1>Találd meg a tökéletes szőnyeget otthonodba vagy irodádba.</h1>
      <p>Keress stílus, méret vagy anyag szerint!</p>
    </div>
    <div class="input-container">
      <span class="p-input-icon-right">
        <i class="pi pi-search"></i>
        <input class="search-input" placeholder="Keresés..." type="text" pInputText [(ngModel)]="value" />
      </span>
      <p-button label="Keresés" [text]="true" [raised]="true" [plain]="true"></p-button>
    </div>
  </div>
  <div>
    <img class="logo-icon" src="assets/logonew.svg" alt="">
  </div>
</div>
