<!-- In your component.html -->
<div class="search-wrapper">
  <div class="input-and-title">
    <div class="title-container">
      <h1>Találd meg a tökéletes szőnyeget otthonodba vagy irodádba.</h1>
      <p>Keress stílus, méret vagy anyag szerint!</p>
    </div>
    <div class="input-container">
      <p-autoComplete (onSelect)="stuff($event)" [(ngModel)]="searchInput.value" [suggestions]="filteredProducts"
        (completeMethod)="onSearch($event)" field="name" placeholder="Keresés...">
        <ng-template let-product pTemplate="item">
          <a [routerLink]="['/details', product.product_id]"
            style="display: flex; align-items: center; text-decoration: none; color: inherit;">
            <img [src]="product.image_paths[0]" alt="{{product.name}}" style="width: 50px; height: 50px; margin-right: 10px;">
            <span>{{product.name}}</span>
          </a> </ng-template>
      </p-autoComplete>
    </div>
  </div>
  <div>
    <img class="logo-icon" src="assets/logonew.svg" alt="">
  </div>
</div>
