:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 9px;
  border-bottom: 1px solid #d7d7d7;
}

.wrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
  overflow: auto;
  padding: 10px;
}

.listed-files {
  transition: ease-in-out 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 8px;
  border-radius: 8px;

  background-color: #f4f4f4;

  box-shadow:
    0 0 0 1px #f4f4f4,
}

.listed-files:hover {
  transition: ease-in-out 0.3s;
  background-color: #e9f5ff;
}

.nested-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.selected {
  background-color: #e9f5ff;
  box-shadow:
    0 0 0 1px #f4f4f4,
    0 0 0 3px #ffffff,
    0 0 0 5px #BFDBFE;
}

.presentation-picture {
  object-fit: cover;
}

@media screen and (max-width: 476px) {
  .listed-files {
    flex-wrap: wrap;
  }

  .file-name {
    word-break: break-all;
  }
}
