<header>
  <img class="logo" src="assets/logonew.svg" alt="" routerLink="/">
  @if (settingsService.getUnused()) {
  <div class="navigation-section">
    <nav>
      <p-button label="Főoldal" [text]="true" [plain]="true" routerLink="/"></p-button>
      <p-button label="Szolgáltatásaink" [text]="true" [plain]="true"></p-button>
      <p-button label="Üzletünk elérhetőségei" [text]="true" [plain]="true" routerLink="/contact"></p-button>
      @if (isLoggedIn) {
      <p-button label="Termék feltöltése" [text]="true" [plain]="true" routerLink="/upload-product"
        [style]="{'width': '100%'}"></p-button>
      }
    </nav>
  </div>
  }
  <div class="card flex justify-content-center sidebar">
    <p-button severity="warning" class="toggle-sidebar" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
  </div>
  @if (sidebarVisible) {
  <div class="custom-overlay" (click)="sidebarVisible = false"></div>
  }
</header>

<p-sidebar #sidebarRef [(visible)]="sidebarVisible">
  <ng-template pTemplate="headless">
    <div>
      <div>
        <div class="sidebar-header">
          <span>
            <img class="logo" src="assets/logonew.svg" alt="" routerLink="/">
          </span>
          <span>
            <p-button type="button" (click)="sidebarVisible = false" icon="pi pi-times" [outlined]="true"
              [rounded]="true" severity="warning"></p-button>
          </span>
        </div>
        <div class="sidebar-items">
          <p-button label="Főoldal" [text]="true" [plain]="true" routerLink="/" class="firstButton"
            [style]="{'width': '100%'}"></p-button>
          <p-button label="Szolgáltatásaink" [text]="true" [plain]="true" [style]="{'width': '100%'}"></p-button>
          <p-button label="Üzletünk elérhetőségei" [text]="true" [plain]="true" routerLink="/contact"
            [style]="{'width': '100%'}"></p-button>
          @if (true) {
          <p-button label="Termék feltöltése" [text]="true" [plain]="true" routerLink="/upload-product"
            [style]="{'width': '100%'}"></p-button>
          }
        </div>
      </div>
    </div>
  </ng-template>
</p-sidebar>