<header>
  <img class="logo" src="assets/logonew.svg" alt="" routerLink="/">
  @if (settingsService.getUnused()) {
  <div class="navigation-section">
    <nav>
      <p-button label="Főoldal" [text]="true" [plain]="true" routerLink="/"></p-button>
      <p-button label="Szolgáltatásaink" [text]="true" [plain]="true"></p-button>
      <p-button label="Üzletünk elérhetőségei" [text]="true" [plain]="true" routerLink="/contact"></p-button>
    </nav>
  </div>
  }
  <div class="card flex justify-content-center sidebar">
    <p-sidebar [(visible)]="sidebarVisible">
        <p-button label="Főoldal" [text]="true" [plain]="true" routerLink="/" class="firstButton"></p-button>
        <p-button label="Szolgáltatásaink" [text]="true" [plain]="true"></p-button>
        <p-button label="Üzletünk elérhetőségei" [text]="true" [plain]="true" routerLink="/contact"></p-button>
    </p-sidebar>
    <p-button severity="warning" class="toggle-sidebar" (click)="sidebarVisible = true" icon="pi pi-bars"></p-button>
  </div>
  @if (sidebarVisible) {
  <div class="custom-overlay" (click)="sidebarVisible = false"></div>
  }
</header>
