<div class="column">
  <h2>ADATKEZELÉSI TÁJÉKOZTATÓ</h2>


  <p>
    A jelen tájékoztató rendelkezéseinek kialakításakor Adatkezelő különös tekintettel vette figyelembe
    az Európai
    Parlament és a Tanács (EU) 2016/679 rendelete (2016. április 27.) a természetes személyeknek a személyes adatok
    kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a 95/46/EK irányelv
    hatályon
    kívül helyezéséről (általános adatvédelmi rendelet), valamint a Polgári Törvénykönyvről szóló 2013. évi V. törvény
    (Ptk) rendelkezéseit.
  </p>



  <h3>1. Tájékoztató adatok</h3>
  <table>
    <tbody>
      <tr>
        Adatkezelő Neve: SARAY Szőnyegház
        (továbbiakban: Adatkezelő)
      </tr>
      <tr>
        Székhelye: 4032 Debrecen, Füredi út 76.
      </tr>
      Telefonszám: +36 (30) 488 0891
      <tr>
        E-mail: info&#64;sarayszonyeghaz.hu
      </tr>

    </tbody>
  </table>

  <h3>2. Az adatkezelés célja</h3>
  <p>

    Információszerzés, üzenetküldés

    Adatkezelő WEB lapján (https://sarayszonyeg.hu) az érdeklődök megtekinthetik az aktuális kínálatban lévő
    szőnyegeket,
    valamint a további szolgáltatásokról is információt kaphatnak és az Adatkezelő részére
    üzenetet küldhetnek.

    A „kapcsolat” menüpont alatt (https://sarayszonyeg.hu/contact) lehetőség van arra, hogy az érdeklődök az
    Adatkezelő
    részére közvetlenül küldjenek üzenetet a nevük, e-mail címük, telefonszámuk, valamint üzenetük tartalmának
    megadásával.
    Az
    üzenet elküldése csak abban az esetben lehetséges, ha az érdeklődő érintett az adatvédelmi tájékoztatóra mutató link
    után lévő kis négyzet bejelölésével kifejezetten nyilatkozik, hogy Adatkezelő jelen adatkezelési tájékoztatóját
    megismerte, az abban foglaltakat elfogadja és kifejezetten hozzájárul megadott adatainak a kezeléséhez.

    Abban az esetben, ha üzenetküldés történik az adatkezelés célja: az érintettel történő kapcsolatfelvétel, az
    érintett
    véleményének megismerése.
  </p>

  <h3>3. Az érintettek kategóriája</h3>
  <p>
    Érintett a jelen tájékoztató szempontjából minden, a WEB lapra (https://sarayszonyeg.hu/) látogató, vagy/és
    üzenetet küldő, azonosított vagy azonosítható természetes személy.
  </p>

  <h3>4. A kezelt személyes adatok köre</h3>
  <p>
    Az Érintett Adatkezelő által kezelt személyes adatai:
    név
    megadott e-mail cím (amennyiben megadásra került az Érintett által),
    üzenet tárgya és szövege
  </p>

  <h3>5. Az adatkezelés jogalapja</h3>
  <p>
    Az adatkezelés jogalapja a GDPR 6. cikk (1) bekezdés a) pontja, az Érintett hozzájárulása.

    Az Érintett az adatkezeléshez történő hozzájárulását – Adatkezelő e-mail címére küldött nyilatkozatával – bármikor
    visszavonhatja. A hozzájárulás visszavonása nem érinti a hozzájáruláson alapuló, a visszavonás előtti adatkezelés
    jogszerűségét.
  </p>
</div>