:host {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  padding-top: 6px;
}
