:host {
  position: relative;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: auto;
  border-top: 1px solid #d8d9da;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  width: 95%;
  padding: 20px 0px 10px 0px;
}

.footer-center {
  text-align: center;
  font-size: smaller;
  opacity: 0.4;
}

.footer-center > div > p {
  align-self: flex-end;
  margin: 0 0 0 0;
}

.footer-right {
  justify-content: flex-end;
}

.footer-right > div > p {
  display: flex;
  align-content: center;
  margin: 0 0 0 0;
}

.logo {
  height: 180px;
}

.icon {
  display: inline;
  height: 20px;
  margin-right: 5px;
}

a {
  text-decoration: none;
  color:black;
}

@media screen and (max-width: 576px){
.footer-container{
  flex-direction: column-reverse;
  gap: 0px;
  
}
.footer-center{
  width: 400px;
  padding-top: 20px;
}
}