<div class="footer-container">
  <div class="footer-left">
    <img class="logo" src="../../../../assets/logo.svg" alt="">
  </div>
  <div>
    <!-- Made by part, don't know how it should look for now, maybe if you come up with something implement it and we will take a look at it. -->
  </div>
  <div class="footer-right">
    <p class="help-needed">Segítségre van szükséged?</p>
    <p>Elérhetőségeink:</p>
    <div class="icon-text-wrapper">
      <div class="icon-text-container">
        <i class="pi pi-phone" style="font-size: 1rem"></i>
        <h3> +36 52 314 227</h3>
      </div>
      <div class="icon-text-container">
        <i class="pi pi-envelope" style="font-size: 1rem"></i>
        <h3>info&#64;sarayszonyeghaz.hu</h3>
      </div>
    </div>
  </div>
</div>
