<div class="footer-container">
  <div class="footer-left">
    <img class="logo" src="assets/logonew.svg" alt="Saray Szőnyegház logo">
  </div>
  <div class="footer-center">
    <div>
      <p>© 2024 SARAY SZŐNYEGHÁZ Kft.</p>
      <p>Az árváltoztatás jogát fenntartjuk. A képeken a termékek színei eltérhetnek a valóságtól!</p>
      <a routerLink="/privacy-policy">Adatkezelési tájékoztató</a>
      <a href="https://norinot.com/sarayszonyeg/team">Készítették</a>
    </div>
  </div>
  <div class="footer-right">
    <p>
      <img class="icon" src="assets/envelope.svg" alt="Email icon">
      <b>Telefonszám: +36 (52) 314 227</b>
    </p>
    <p>
      <img class="icon" src="assets/phone-call.svg" alt="Phone icon">
      <b>info&#64;sarayszonyeghaz.hu</b>
    </p>
    <p>
      <img class="icon" src="assets/alternate-map-marked.svg" alt="Location icon">
      <b>Debrecen, Füredi út 76, 4027</b>
    </p>
  </div>
</div>
