<div class="contact-info-container">
  <h2>Kapcsolat</h2>
  <div class="wrapper">
    <div class="phone-location">
      <div class="phone-numbers">
        <div class="icon-title">
          <i class="pi pi-phone"></i>
          <h4>Telefonszámok</h4>
        </div>
        <div>
          <p> +36 (30) 488 0891</p>
          <p> +36 (30) 167 3835</p>
          <p>+36 (52) 314 227</p>
        </div>
      </div>
      <div class="location">
        <div class="icon-title">
          <i class="pi pi-map"></i>
          <h4>Üzletünk címe</h4>
        </div>
        <div>
          <p>4032 Debrecen, Füredi út 76.</p>
        </div>
      </div>
    </div>
    <div class="email-opening">
      <div class="email">
        <div class="icon-title">
          <i class="pi pi-envelope"></i>
          <h4>Email cím</h4>
        </div>
        <div>
          <p class="actual-email-address">info&#64;sarayszonyeghaz.hu</p>
        </div>
      </div>
      <div class="openings">
        <div class="icon-title">
          <i class="pi pi-clock"></i>
          <h4>Nyitvatartás</h4>
        </div>
        <div>
          <div>
            <p>Hétfő - Péntek: </p>
            <p>9:00 - 18:00</p>
          </div>
          <div>
            <p>Szombat: </p>
            <p>9:00 - 15:00</p>
          </div>
          <div>
            <p>Vasárnap: </p>
            <p>9:00 - 13:00</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
