:host {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.contact-info-container {
  height: 448px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 38px;
}

h4,
h2 {
  margin: 0;
}

.wrapper {
  margin-top: 45px;
  display: flex;
  gap: 20px;
}

.phone-location,
.email-opening {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.icon-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

p {
  margin: 0;
}

.email,
.phone-numbers,
.location,
.openings {
  width: 213px;
  height: 98px;
}

.openings>div>div {
  display: flex;
  justify-content: space-between;
}

.actual-email-address {
  text-decoration: underline;
}

@media screen and (max-width: 1150px) {
  .contact-info-container {
    height: 400px;
    align-items: center;
  }

  .phone-location {
    gap: 0px;
  }

  .email-opening {
    gap: 0px;
  }
}

@media screen and (max-width: 680px) {
  .contact-info-container {
    position: relative;
    border-radius: 10px;
    height: auto;
    align-self: center;
    flex-grow: 1;
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .contact-info-container {
    border-radius: 0px;
  }
}
